body {
  background-color: #fff;
  font-family: 'Noto Sans', sans-serif;
}

.header {
  background-color: rgba(101, 157, 194);
  padding: 0px 120px;
  
}

.section1 {
  /* 大手機區 */
  background-color: rgb(101, 157, 194);
  padding: 0 0 0 120px;
  height: calc(100vh - 94px);
  background-image: url("img/section1.png");
  background-position: 100%;
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-size: inherit;
} 
.thebest{
font-family: 'Knewave';
font-size: 70px;
line-height: 108%;
color: #fff;
padding: 2em 0 0.5em 0;
width: 590px;
background-color: rgba(101, 157, 194, 0.5);
}
.Nisl {
font-size: 18px;
line-height: 150%;
letter-spacing: 0.45px;
color: #fff;
padding: 0.5em 0 2em 0;
width: 590px;
background-color: rgba(101, 157, 194, 0.5);
}
.button {
  width: 189px;
  height: 46.43px;
  border-radius: 10px;
  font-weight: 900;
  font-size: 16px;
  line-height: 100%;
  text-align: justify;
  letter-spacing: 0.45px;
  color: #1C1C1D;
  text-align: center;
}

.section2 {
  /* 滑動小方塊區 */
  background-color: #fff;
  height: 40vh;
  padding: 80px 0 80px 0;
}
.ABOVTTEXT{
  font-family: 'Knewave';
  font-size: 45px;
  line-height: 48px;
  text-align: center;
  letter-spacing: 2px;
}
.ABOVTTEXTNisi {
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.45px;
  color: #474A57;
  padding: 30px 0;
}
.ABOVTTEXTN2 {
  /* 小方塊 */
  background-color: #FFB0BC;
  width: 340px;
  height: 183px;
  border: 2px solid #1C1C1D;
  box-sizing: border-box;
  box-shadow: 0px 4px 0px #202020;
  border-radius: 10px;
  padding: 25px 20px;
}
.ABOVTTEXT3 {
/* 小方塊圖片 */
}
.ABOVTTEXT4 {
  /* 小方塊文字標題 */
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: #fff;
}
.ABOVTTEXT5 {
  /* 小方塊文字內文 */
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.5px;
  color: #fff;
  padding: 15px 0px;
}

.purplewatch {
  background-color: rgb(101, 157, 194);
  padding: 120px;
  height: 60vh;
  background-image: url("img/Group 11.png");
  background-position: 80%;
  background-repeat: no-repeat;
}
.START {
  /* 紫色apple watch標題*/
  font-family: 'Knewave';
  font-size: 45px;
  line-height: 108%;
  letter-spacing: 2px;
  width: 483px;
  color: #FFFFFF;
  padding: 2em 0 0.5em 0;
  background-color: rgba(101, 157, 194, 0.5);
}
.STARTNisi {
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.45px;
  color: #FFFFFF;
  padding: 2em 0;
}
.STARTemail {
  background: #FFFFFF;
  border: 1px solid #1C1C1D;
  box-sizing: border-box;
  box-shadow: 0px 2px 0px #202020;
  border-radius: 10px;
  width: 277px;
  height: 52px;
  font-size: 18px;
}

.STORIESletsgo {
  width: 189px;
  height: 48px;
  background: #FFBD12;
  border: 1px solid #1C1C1D;
  box-sizing: border-box;
  box-shadow: 0px 4px 0px #202020;
  border-radius: 10px;
  font-weight: 900;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0.5px;
  color: #fff;
}

.section3 {
  /* 三張圖 */
  background-color: #fff;
  padding: 0 120px;
  height: 100vh;
}
.STORIES {
  font-family: 'Knewave';
  font-size: 45px;
  line-height: 108%;
  letter-spacing: 2px;
  text-align: center;
  color: #1C1C1D;
  padding: 2em 0 0.5em 0;
}
.STORIESpic {
  width: 380px;
  height: 264px;
  padding: 0.5em;
}
.STORIESbox {
  text-align: center;
}
.STORIESbox2 {
  display: inline-block;
  width: 380px;
}

.Stories1{
  font-size: 24px;
  font-weight: bold;
  line-height: 133%;
  letter-spacing: 0.625px;
  color: #1C1C1D;
  padding: 0.5em;
  text-align: left;
}
.Stories2 {
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.45px;
  color: #474A57;
  padding: 0.5em;
  text-align: left;
}
.Stories3 {
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.5px;
  color: #1C1C1D;
  padding: 0.5em;
  text-align: left;
}

.section4 {
  /*CHOOSE YOUR TARIFF PLAN*/
  padding: 80px 120px;
  height: 100vh;
}
.CHOOSE {
  font-family: 'Knewave';
  font-style: normal;
  font-weight: normal;
  font-size: 45px;
  line-height: 108%;
  text-align: center;
  letter-spacing: 2px;
  color: #1C1C1D;
}
.CHOOSE2 {
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.5px;
  color: #474A57;
  padding: 1em;
}

.CHOOSEbotton {
  text-align: center;
}

.CHOOSEbotton1 {
  background: #FFFFFF;
  border: 2px solid #1C1C1D;
  border-radius: 25px 0 0 25px;
  width: 140px;
  height: 60px;
  margin: 2em -0.25em;
  font-weight: bold;
  font-size: 20px;
  line-height: 160%;
  text-align: center;
  letter-spacing: 0.625px;
  color: #1C1C1D;

}
.CHOOSEbotton2 {
  background: #FFFFFF;
  border: 2px solid #1C1C1D;
  border-radius: 0 25px 25px 0;
  width: 140px;
  height: 60px;
  margin: 2em -0.25em;
  font-weight: bold;
  font-size: 20px;
  line-height: 160%;
  text-align: center;
  letter-spacing: 0.625px;
  color: #1C1C1D;
}
.CHOOSEpicorange {
  display: inline-block;
  background: #F95A2C;
  width: 278px;
  height: 441px;
  border: 2px solid #1C1C1D;
  box-sizing: border-box;
  box-shadow: 0px 8px 0px #202020;
  border-radius: 10px;
}
.CHOOSEblock {
  text-align: center;
}
.CHOOSEblock01 {
  font-weight: 600;
  font-size: 30px;
  line-height: 150%;
  letter-spacing: 0.45px;
  color: #1C1C1D;
  padding: 1em 0;
}
.CHOOSEblock02 {
  font-weight: 500;
  font-size: 18px;
  line-height: 40px;
  letter-spacing: 0.5px;
  color: #1C1C1D;
  text-align: left;
  padding: 1em;
}
.CHOOSEpicblue {
  display: inline-block;
  background: #1BDBC4;
  width: 278px;
  height: 441px;
  border: 2px solid #1C1C1D;
  box-sizing: border-box;
  box-shadow: 0px 8px 0px #202020;
  border-radius: 10px;
}
.CHOOSEpicpurple {
  display: inline-block;
  background: #962EFF;
  width: 278px;
  height: 441px;
  border: 2px solid #1C1C1D;
  box-sizing: border-box;
  box-shadow: 0px 8px 0px #202020;
  border-radius: 10px;
}
.CHOOSEpicyellow {
  display: inline-block;
  background: #FFBD12;
  width: 278px;
  height: 441px;
  border: 2px solid #1C1C1D;
  box-sizing: border-box;
  box-shadow: 0px 8px 0px #202020;
  border-radius: 10px;
}
.CHOOSEbutton {
  width: 217px;
  height: 51px;
  background: #FFFFFF;
  border: 1px solid #1C1C1D;
  box-sizing: border-box;
  box-shadow: 0px 4px 0px #202020;
  border-radius: 10px;
  font-family: 'Knewave';
  font-weight: 900;
  font-size: 16px;
  line-height: 100%;
  text-align: center;
  letter-spacing: 0.45px;
  color: #1C1C1D;
  margin: 20px 0px;
}

.section5 {
  /* DOWNLOAD NOW */
  height: 100vh;
}
.DOWNLOADNOWdivCenter {
  text-align: center;
}

.DOWNLOADNOWdiv {
  display: inline-block;
  width: 483px;
  height: 541px;
  text-align: left;
  padding: 100px 100px 0px 0px;
}
.DOWNLOADNOW01 {
  font-family: 'Knewave';
  font-size: 45px;
  line-height: 108%;
  letter-spacing: 2px;
  color: #1C1C1D;
}
.DOWNLOADNOW02 {
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.45px;
  color: #474A57;
  text-align: left;
  padding: 3em 0;
}
.DOWNLOADNOWbotton {
  width: 189px;
  height: 46.36px;
  background: #FA6648;
  border: 1px solid #1C1C1D;
  box-sizing: border-box;
  box-shadow: 0px 4px 0px #202020;
  border-radius: 10px;
  font-weight: 900;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0.5px;
  color: #fff;
  margin: 10px;
}
.DOWNLOADNOWsignin {
  display: inline-block;
  width: 483px;
  height: 541px;
  background: #FFFFFF;
  border: 2px solid #1C1C1D;
  box-sizing: border-box;
  box-shadow: 0px 8px 0px #202020;
  border-radius: 10px;
  padding: 0 30px;
}
.DOWNLOADNOWsigninsignin {
  font-weight: bold;
  font-size: 24px;
  line-height: 133px;
  letter-spacing: 0.625px;
  color: #FA6648;
  padding: 0 0.25em;
}
.DOWNLOADNOWsigninlogin {
  font-weight: bold;
  font-size: 24px;
  line-height: 133px;
  letter-spacing: 0.625px;
  color: #1C1C1D;
  padding: 0 0.25em;
}
.DOWNLOADNOWsigninleft {
  text-align: left;
}
.DOWNLOADNOWsignintype {
  width: 403px;
  height: 50.65px;
  background: #FFFFFF;
  border: 1px solid #1C1C1D;
  box-sizing: border-box;
  box-shadow: 0px 2px 0px #202020;
  border-radius: 10px;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.5px;
  color: #1C1C1D;
  margin: 10px;
}
.DOWNLOADNOWcheckbox {
  background: #FFBD12;
  width: 32px;
  height: 32px;
  border: 2px solid #1C1C1D;
  box-sizing: border-box;
  border-radius: 8px;
}

.DOWNLOADNOWcheckbox01 {
  text-align: left;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.5px;
  color: #474A57;
}

input[type=checkbox] {
  width: 32px;
  height: 32px;
  border-radius: 8px;
  background-color: #FFBD12; 
}
.DOWNLOADNOWsigninbotton {
  width: 403px;
  height: 50px;
  background: #FA6648;
  border: 1px solid #1C1C1D;
  box-sizing: border-box;
  box-shadow: 0px 4px 0px #202020;
  border-radius: 10px;
  font-weight: 900;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0.5px;
  color: #fff;
  margin: 10px;
}

.footer {
  background-color: rgba(101, 157, 194);
  width: 100vw;
}
.footerdiv {
  padding: 42px 120px;
}
.footer01 {
  display: inline-block;
  text-align: left;
  width: 20%;
  height: 52px;
}
.footer02 {
  display: inline-block;
  text-align: left;
  width: 45%;
  height: 52px;
}
.footer02text {
  font-weight: bold;
  font-size: 17px;
  line-height: 21px;
  letter-spacing: 0.5px;
  color: #FFFFFF;
  padding: 0 20px;
}
.footer03 {
  display: inline-block;
  text-align: right;
  width: 33%;
  height: 52px;
}
.footerbotton {
  width: 189px;
  height: 46.84px;
  background: #FFBD12;
  border: 1px solid #1C1C1D;
  box-sizing: border-box;
  box-shadow: 0px 4px 0px #202020;
  border-radius: 10px;
  font-weight: 900;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0.5px;
  color: #fff;
}